# Assignment: Preparing Data for Analysis (Modified Titanic)

![](https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/%20files/hw.png)

In [2]:
#Import the libraries
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/hw/titanic_training_dataset_v2.csv')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       852 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     803 non-null    object
dtypes: float64(5), int64(2), object(5)
memory usage: 83.7+ KB

# 1) Load data & review the data

<font color='blue'>Q1) What is the shape of this dataset? (rows & columns)</font>

In [6]:
df.shape

(891, 12)

# 2) Drop unqualified variables

*   Drop variables with missing > 50%
*   Drop categorical variables with flat values > 70% (variables with the same value in the same column)

<font color='blue'>Q2) How many columns do we have left?</font>

In [30]:
nomissing = df.dropna(thresh=df.shape[0]/2, axis=1)

nomissing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       852 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     803 non-null    object
dtypes: float64(5), int64(2), object(4)
memory usage: 76.7+ KB

In [31]:
noflat = nomissing.copy()
for col in noflat.columns:
  if noflat[col].value_counts().iloc[0] > 0.7 * noflat.shape[0]:
    noflat = noflat.drop(col, axis=1)

noflat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Ticket       852 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     803 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 69.7+ KB

# 3) Remove all rows with missing target (the variable "Survived")

<font color='blue'>Q3) How many rows do we have left?</font>

In [111]:
noMissingTarget = noflat.dropna(subset=["Survived"])

noMissingTarget = noMissingTarget.reset_index().drop("index", axis=1)

noMissingTarget

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Ticket,Fare,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,A/5 21171,7.2500,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,PC 17599,71.2833,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,STON/O2. 3101282,7.9250,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,113803,53.1000,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
860,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,211536,13.0000,S
861,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,112053,30.0000,S
862,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,W./C. 6607,23.4500,S
863,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,111369,30.0000,C
864,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,370376,7.7500,Q

# 4) Handle outliers

For the variable “Fare”, replace outlier values with the boundary values


*   If value < (Q1 - 1.5IQR), relace with (Q1 - 1.5IQR)
*   If value > (Q3 + 1.5IQR), relace with (Q3 + 1.5IQR)

<font color='blue'>Q4) What is the mean of “Fare” after replacing the outliers (round 2 decimal points)?</font>

In [112]:
Q1, Q3 = noMissingTarget["Fare"].quantile([0.25, 0.75])
leftVal = Q1 - 1.5*(Q3 - Q1)
rightVal = Q3 + 1.5*(Q3 - Q1)

noOutlier = noMissingTarget.copy()
noOutlier["Fare"] = np.clip(noOutlier["Fare"], leftVal, rightVal)

noOutlier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  865 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       802 non-null    float64
 3   Name         840 non-null    object
 4   Sex          865 non-null    object
 5   Age          693 non-null    float64
 6   SibSp        832 non-null    float64
 7   Ticket       826 non-null    object
 8   Fare         865 non-null    float64
 9   Embarked     778 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 67.7+ KB

# 5) Impute missing value



*   Show the number of missing values in each variable
*   Impute missing values with mean & mode
*   Show the number of missing values again after missing value imputation

<font color='blue'>Q5) Which variable has the largest number of missing values?</font>

In [113]:
noOutlier.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Ticket,Fare,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,A/5 21171,7.2500,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,PC 17599,65.6563,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,STON/O2. 3101282,7.9250,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,113803,53.1000,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,373450,8.0500,S

In [114]:
from sklearn.impute import SimpleImputer

imputed = noOutlier.copy()

print(imputed.isnull().sum().idxmax())

num_imp=SimpleImputer(strategy='mean')
cat_imp=SimpleImputer(strategy='most_frequent')
numCol = ['Age', 'Fare']
catCol = ['Pclass', 'Name', 'Sex', 'SibSp', 'Ticket', 'Embarked']

imputed[numCol] = pd.DataFrame(num_imp.fit_transform(imputed[numCol]), index=imputed.index)
imputed[catCol] = pd.DataFrame(cat_imp.fit_transform(imputed[catCol]), index=imputed.index)

imputed.info()

Age
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  865 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       865 non-null    object
 3   Name         865 non-null    object
 4   Sex          865 non-null    object
 5   Age          865 non-null    float64
 6   SibSp        865 non-null    object
 7   Ticket       865 non-null    object
 8   Fare         865 non-null    float64
 9   Embarked     865 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 67.7+ KB

# 6) Convert categorical to numeric values



*   Drop the variables “Name” & “Ticket”
*   For the variables “Sex” & “Embarked”, perform the dummy coding and drop the first level. Also, drop those original variables (“Sex” & “Embarked”)

<font color='blue'>Q6) How many columns do we have?</font>

In [124]:
converted = imputed.copy().drop(["Name", "Ticket"], axis=1)

from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore', drop='first') # this feature will be all zeros
# passing bridge-types-cat column (label encoded values of bridge_types)
nominal_columns = ["Sex", "Embarked"]
enc_df = pd.DataFrame(enc.fit_transform(converted[nominal_columns]).toarray(), columns=enc.get_feature_names_out())

encoded = pd.concat([converted, enc_df], axis=1)
encoded.drop(nominal_columns, axis=1, inplace=True)
encoded

,PassengerId,Survived,Pclass,Age,SibSp,Fare,Sex_male,Embarked_Q,Embarked_S
0,1,0.0,3.0,22.000000,1.0,7.2500,1.0,0.0,1.0
1,2,1.0,1.0,38.000000,1.0,65.6563,0.0,0.0,0.0
2,3,1.0,3.0,26.000000,0.0,7.9250,0.0,0.0,1.0
3,4,1.0,1.0,35.000000,1.0,53.1000,0.0,0.0,1.0
4,5,0.0,3.0,35.000000,0.0,8.0500,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
860,887,0.0,2.0,27.000000,0.0,13.0000,1.0,0.0,1.0
861,888,1.0,1.0,19.000000,0.0,30.0000,0.0,0.0,1.0
862,889,0.0,3.0,29.892266,1.0,23.4500,0.0,0.0,1.0
863,890,1.0,1.0,26.000000,0.0,30.0000,1.0,0.0,0.0
864,891,0.0,3.0,32.000000,0.0,7.7500,1.0,1.0,0.0

# 7) Partition data



*   Split train/test split with stratification using 70%:30% and random seed with 12345
*   Show a proportion between survived (1) and died (0) in all data sets (total data, train, test)

<font color='blue'>Q7) What is a proportion between survived (1) and died (0) in the training data?</font>

In [128]:
from sklearn.model_selection import train_test_split

y = encoded['Survived']
X = encoded.drop(['Survived'], axis=1)

X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,test_size=0.25, random_state=12345)

X_train

,PassengerId,Pclass,Age,SibSp,Fare,Sex_male,Embarked_Q,Embarked_S
17,18,2.0,29.892266,0.0,13.0000,1.0,0.0,1.0
474,501,3.0,17.000000,0.0,8.6625,1.0,0.0,1.0
174,201,3.0,28.000000,0.0,9.5000,1.0,0.0,1.0
377,404,3.0,28.000000,1.0,15.8500,1.0,0.0,1.0
513,540,1.0,22.000000,0.0,49.5000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
336,363,3.0,45.000000,0.0,14.4542,0.0,0.0,0.0
680,707,2.0,45.000000,0.0,13.5000,0.0,0.0,1.0
305,332,1.0,45.500000,0.0,28.5000,1.0,0.0,1.0
84,111,1.0,47.000000,0.0,52.0000,1.0,0.0,1.0
45,46,3.0,29.892266,0.0,8.0500,1.0,0.0,1.0